<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <!--定义日志目录-->
    <property name="LOG_PATH" value="logs"/>
    <!-- 文件历史保存天数，之前的都将被清理掉 -->
    <property name="MAX_HISTORY_DAY" value="30"/>
    <!-- 单个日志文件大小 -->
    <property name="FILE_SIZE" value="10MB"/>
    <!-- 日志文件总大小，超过清除之前的 -->
    <property name="TOTAL_SIZE" value="1GB"/>

    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                <!--%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%level] %logger{16} [%file:%line] - %msg%n -->
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%level] - %msg%n
            </pattern>
        </layout>
    </appender>

    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <file>${LOG_PATH}/info/info.log</file>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%level] - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>


        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <!--路径-->
            <fileNamePattern>${LOG_PATH}/info/info-%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <!-- 日志文件大小不能超过最大值，若超过日志文件会以索引0开始，命名日志文件，例如info-2018-12-31.0.log -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>

            <maxHistory>${MAX_HISTORY_DAY}</maxHistory>

            <totalSizeCap>${TOTAL_SIZE}</totalSizeCap>
        </rollingPolicy>


        <!-- 追加方式记录日志 -->
        <append>true</append>
    </appender>


    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <file>${LOG_PATH}/error/error.log</file>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%level] [%file:%line] - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径 -->
            <fileNamePattern>${LOG_PATH}/error/error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 日志文件大小不能超过最大值，若超过日志文件会以索引0开始，命名日志文件，例如error-2018-12-31.0.log -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${MAX_HISTORY_DAY}</maxHistory>
            <totalSizeCap>${TOTAL_SIZE}</totalSizeCap>
        </rollingPolicy>
        <!-- 追加方式记录日志 -->
        <append>true</append>
    </appender>

    <root level="INFO">
        <appender-ref ref="consoleLog"/>
        <appender-ref ref="fileInfoLog"/>
        <appender-ref ref="fileErrorLog"/>
    </root>


</configuration>